---
layout: default
pagination: 
  enabled: true
---
<div class="home">

<div class="site-header-container {% if site.cover %}has-cover{% endif %}" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }});"{% endif %}>
  <div class="scrim {% if site.cover %}has-cover{% endif %}">
    <header class="site-header">
      <h1 class="title">{{ site.title }}</h1>
      {% if site.subtitle %}<p class="subtitle">{{ site.subtitle }}</p>{% endif %}
    </header>
  </div>
</div>

<div class="wrapper">
<h2>
	<a href="/projects/">Projects</a>
	</h2>
	<section>
      <h4>Current Projects</h4>
      <p>&emsp; Masters Research: Population genomics of <i>Pseudogymnoascus destructans</i></p>
      <h4>Past Projects</h4>
      <p>&emsp; Camp Resource: The Big Book of Games</p>
      <p>&emsp; Undergrad Research: Effects of fungal pathogens on ants and their fungal cultivars</p>
      <p>&emsp; Leafcutter Ant Behavior Website</p>
    </section>
</div>

<div class="wrapper">
<h2>
	<a href="/outreach/">Outreach</a>
	</h2>
	<section>
      <h4>UConn EEB Educational Outreach</h4>
      <p>&emsp; Partnering with Natchaug Elementary School</p>
      <p>&emsp; Fall 2024: 3rd & 4th grade classrooms</p>
      <h4>YMCA Camp Sloper Outreach</h4>
      	<p>&emsp; Running school field trips at Camp Sloper</p>
        <p>&emsp; My other job duties at Camp Sloper</p>
    </section>
</div>

<div class="wrapper">
</div>
</div>
