---
layout: page-large
title: About
permalink: /about/
main_nav: true
---
<style>
  .grid-container {
  	display: grid;
  	grid-template-columns: auto auto;
  	grid-gap: 20px;
  	padding: 0px;
  	margin: 0px 20px 0px
  }
	div .grid-container {
		a {
  		text-decoration: underline;
  	}
	}
	.grid-item1 {
		grid-row: 1 / 4;
		width: 100%
	}
	.grid-item2 {
		text-align: center;
		width: 300px

	}
</style>
	<p></p>
	<div class="grid-container">
		
		<div class="grid-item1">
		{{ content }}
		</div>
				
		<div class="grid-item2">
		<p style="padding: 0px 50px 0px">
		<a href="~/../../assets/images/natchaug-school-logo.png" data-lightbox="natchaug-school-logo" data-title="Natchaug Elementary School Logo"><img src="~/../../assets/images/natchaug-school-logo.png" alt="Natchaug School logo with a picture of a frog sitting on top of two books looking through a magnifying glass with the text 'ALWAYS A NEW DISCOVERY' below"></a>
		</p>
		</div>
		
		<div class="grid-item2">
		<p>
		<a href="~/../../assets/images/4th-grade-eeb-outreach.JPEG" data-lightbox="4th-grade-eeb-outreach" data-title="Two other EEB grad students and Cappy presenting animal adaptations to 4th graders"><img src="~/../../assets/images/4th-grade-eeb-outreach.JPEG" alt="Two other EEB grad students and Cappy presenting slides on animal adaptations to a classroom of 4th graders at Natchaug Elementary School. The kids are blurred for privacy reasons."></a>
		</p>
		<p style="padding-right: 30px; padding-left: 30px;">
		Presenting animal adaptations to 4th graders
		</p>
		</div>
		
		<div class="grid-item2">
		<p>
		<a href="~/../../assets/images/sloper-bus_cappy-e-lucia.jpg" data-lightbox="sloper-bus_cappy-e-lucia" data-title="Cappy and their little sister taking a selfie on the camp sloper bus"><img src="~/../../assets/images/sloper-bus_cappy-e-lucia.jpg" alt="Cappy and their younger sister taking a selfie on one of the sloper buses. Cappy is wearing all blue with a bandana and dyed blue hair while their younger sister is wearing an orange tshirt with a matching orange bandana."></a>
		</p>
		<p style="padding-right: 30px; padding-left: 30px;">
		Me and my little sister on the camp sloper bus
		</p>
		
		</div>

	<p></p>
	</div>

